<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags  -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Huro :: {{title}}</title>
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N8ZNRQ9');</script>
    <!-- End Google Tag Manager -->
    
    <!--Core CSS -->
    <link rel="stylesheet" href="{{root}}assets/css/app.css" />
    <link rel="stylesheet" href="{{root}}assets/css/main.css" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700"
      rel="stylesheet"
    />

    {{#ifpage 'admin-dashboards-map-1' 'admin-dashboards-map-2' }}
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
      type="text/css"
    />
    {{/ifpage}}
  </head>
  <body class="is-curved">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N8ZNRQ9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div id="huro-app" class="app-wrapper">
      <div class="app-overlay"></div>

      <!--Pageloader-->
      {{> pageloader}}

      <!--Mobile navbar-->
      {{> mobile-navbar}}

      <!--Mobile sidebar-->
      {{> mobile-sidebar-main}}

      <!--Circular menu-->
      {{> circular-menu}}

      <!--Sidebar color-->
      {{> sidebar-color}}

      <!--Languages panel-->
      {{> languages-panel}}

      <!--Activity panel-->
      {{> activity-panel}}

      <!--Page body-->
      {{> body}}

      <!--Huro Scripts-->
      {{> scripts}}
    </div>
  </body>
</html>
